<h2><%= @user.username %></h2>
<h4>Posts</h4>
<ul>
  <% @user.posts.each do |post| %> <!--should link to all of the posts the user commented on-->
    <li><%= link_to post.title, post_path(post) %></li>
  <% end %>
</ul>
