<h1><%=@user.username%>'s Comments</h1>
<p>This is a page that links to all of the posts a user has commented on.</p>

<%= @user.posts.uniq.each do |post| %>
  <li><%= link_to post.title, post %></li>
<% end %>   
