<h1>Welcome <%= @user.username %>!</h1>
<h3>You have commented on the following posts:</h3>
<ul>
  <% @user.comments.each do |comment| %>
  	<li><%= link_to comment.post.title, post_path(comment.post)%></li><br>
  <% end %>
</ul>
