<h1><%= @user.username %></h1>

<br></br>

<ul>
  <% @user.comments.each do |comment| %>
    <li>
      <%= link_to comment.post.title, post_path(comment.post) %><br>
      <p><%= comment.content %></p>
    </li>
  <% end %>
</ul>

<% #all goode here %>
