<h1><%= @user.username %></h1>
<h3>Posts Commented On:</h3>
<ul>
  <% @user.comments.each do |c| %>
  <li>
    <% post = Post.find(c.post_id) %>
    <%= link_to post.title, post_path(post) %>
  </li>
  <% end %>

</ul>
