<h1>User: <%= @user.username %></h1>
<h3>Has commmented on:</h3>
<ul>
  <% @user.comments.each do |comment| %>
    <li><%= link_to comment.post.title, post_path(comment.post) %></li>
  <% end %>
</ul>
