User name: <h2><%= @user.username %></h2>
User email: <h2><%= @user.email %></h2>

User comments:
<% @user.comments.each do |comment| %>
  <%=comment.content %><br>
On Posts:
  <%= link_to comment.post.title, post_path(comment.post) %>
<% end %>
