<h1><%=@user.username%></h1>

<h4><%=@user.username%> has commented on:</h4>
<ul>
  <%@user.comments.each do |comment|%>
    <li><%=link_to comment.post.title, post_path(comment.post)%></li>
  <%end%>
</ul>
