<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>User's show page</title>
</head>
<body>
  <p>Posts commented on:</p>
  <%= @user.comments.each do |c| %>
    <%= link_to c.post.title, post_path(c.post) %>
  <% end %>
</body>
</html>
