2) users show page should link to all of the posts the user commented on
<h1><%=@user.username%></h1>

<h2>All of the posts the user commented on</h2>

<ul>
  <% @user.posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %></li>
<% end %>
</ul>
