<h2><%=@user.username%></h2>
<h3>User has commented on the following posts: </h3>
<ul>
  <li>
    <%@user.posts.each do |post|%>
      <%=link_to post.title, post_path(post)%>
    <%end%>
  </li>
</ul>
