<h1><%= @user.username %> Comments</h1>

<% @user.comments.each do |comment| %>
  <ul>
    <li>
    <%= link_to comment.post.title, post_path(comment.post) %> : 
    <%= comment.content %>
    </li>
  </ul>
<% end %>