<h1><%= @user.username %></h1>

<br>

<h4>Posts You Commented On:</h4>
<br>

<ul>
  <%= @user.comments.each do |comment| %>
    <li><%= link_to comment.post.title, post_path(comment.post) %></li>
  <% end %>
</ul>