<h2> <%= @post.title %> </h2>
<h4> <%= @post.content %> </h4>

  <% @post.comments.each do |comment| %>
    <h4><%= comment.content %></h4>
  <% end %>

  <% @post.users.each do |user| %>
    <h4><%= user.name %></h4>
  <% end %>
