
<h1><%=@post.title%></h1>
<h1><%=@post.content%></h1>
  <label> Post Comments </label>
    <ul>
      <%@post.comments.each do |comment|%>
        <li><%= comment.content %></li>
      <%end%>
    </ul>
   <label>Users</label>
    <ul>

      <%@users.uniq.each do |user| %>

      <li><%= user%></li>


    <%end%>
  </ul>
