<h3> Post Show Page </h3>

 Post Title:  <%= @post.title %><br><br>


 Post Content: <%= @post.content %><br><br>

 Post Categories:

 <% @post.categories.each do |category| %>
 <li> <%= category.name %> </li>
 <% end %>
