<h2><%= @post.title %></h2>
<h2><%= @post.content %></h2>

<% @post.comments.each do |comment| %>
  <h3><%= comment.content %><h3>
<% end %>

<% @post.users.uniq.each do |user| %>
  <%= link_to user.username, user_path(user) %>
<% end %>
