// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comma-list {
  list-style: none;
  display: inline;
}

.comma-list li {
  display: inline;
}

.comma-list li:after {
  content: ", ";
}

.comma-list li:last-child:after {
  content: "";
}