<h2> Category | <%= @category.name.titlecase %> </h2>

<h3>Related Posts:</h3>
<ul>
  <% @category.posts.each do |post| %>
    <li><h4><%= link_to post.title, post_path(post) %></h4>
  <% end %>
</ul>
