<h1>Posts for <%= @category.name %> Category</h1>

<% @category.posts.each do |post| %>
  <ul>
    <h3><li><%= link_to post.title, post_path(post) %></li></h3>
    <li><%= post.content %></li>
  </ul>
<% end %>
