<h1>Categories</h1>

	<% @category.posts.each do |c| %>
		Posts: <%= link_to c.title, post_path(c) %>
	
	<%end%>

	
<!--[x] Create a categories#show page that links to all of the posts associated with a given category. 
	