<h1><%= @category.name %></h1>

<p>Here's a list with all the posts for this category %></p>


<ul>
  <% @category.posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %></li>
  <% end %>
</ul>