<h1>Categories</h1>

	<%= link_to @category.posts.title, post_path(@category.posts) %>

	

<!--[] Create a categories#show page that links to all of the posts associated with a given category. 
	<h2> Appointments </h2>

	