<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Category Show Page</title>
</head>
<body>
  <% @category.posts.each do |p| %>
    <%= link_to p.title, post_path(p) %>
  <% end %>
</body>
</html>
