<h2><%= "Post".pluralize(@category.posts.count) %> for <%= @category.name %></h2>
<ol>
  <% @category.posts.reverse.each do |post| %>
    <li>
      <%= link_to post.title, post %></li>
  <% end %>
</ol>
